.button {
  padding: 10px 32px;

  background-color: var(--bg-third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  &--subscribe {
    color: var(--secondary-text-color);

    padding: 10px 62px 10px 28px;
  }

  &-modal-form-submit {
    padding: 10px 52px;
  }
  &--caption:active,
  &--subscribe:active,
  &-modal-form-submit:active {
    background-color: var(--button-active-color);
  }
}
