.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  &__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
