.features {
  padding-top: 60px;

  // not desctop
  @media screen and (max-width: 1199.98px) {
    padding-bottom: 60px;
  }

  // desctop screen
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }

  &__item {
    width: 450px;

    // tablet screen
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    // desctop screen
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__title {
    color: var(--headers-text-color);
  }

  &__title--header {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 10px;

    // tablet screen
    @media screen and (min-width: 768px) {
      text-align: left;
    }

    // desctop screen
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__description {
    line-height: 1.71;
    color: var(--primary-text-color);
  }
}
