.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 450px;
  height: 609px;
  padding: 40px;

  background: var(--bg-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* animation-name: appearWindow;
  animation-duration: 5s; */
  /* animation: rotate-vert-center 0.5s both; */

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  &-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    background-color: var(--bg-primary-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-btn-icon-close {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-btn-close:hover &-btn-icon-close,
  &-btn-close:focus &-btn-icon-close {
    fill: var(--hover-focus-color);
  }

  &-label {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--headers-text-color);
  }

  &-form-group {
    margin-bottom: 20px;
  }

  &-form-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &-form-wrapper {
    position: relative;
    margin-bottom: 10px;
  }

  &-form-field {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form-field:focus {
    outline-color: var(--hover-focus-color);
  }

  &-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form-field:focus + &-form-icon {
    fill: var(--hover-focus-color);
  }

  &-form-message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;

    transition-property: outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form-message:focus {
    outline-color: var(--hover-focus-color);
  }

  &-form-agreement {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 7px;

    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    &-form-agreement-desc {
      font-size: 12px;
      line-height: 1.17;
      user-select: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &-form-agreement-desc {
      line-height: 1.7;
      user-select: none;
    }
  }

  &-form-agreement-link {
    display: inline-block;

    text-decoration-line: underline;
    /* text-underline-offset: 5px; */

    color: var(--bg-third-color);
  }

  /* Перший спосіб стилізації input елемента типу checkbox */
  &-form-checkbox {
    /* вимикаємо(прибираємо) всі стилі браузера */
    appearance: none;
    width: 16px;
    height: 15px;

    outline: 2px solid transparent;
    outline-offset: -2px;
    border: 2px solid #212121;
    border-radius: 2px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;

    transition-property: background-size, background-color, outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-form-checkbox:checked {
    outline-color: var(--hover-focus-color);
    background-color: var(--hover-focus-color);

    /* background-image - не анімується*/
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-size: 11px 8px;
  }
}
