/* base */
body {
  background-color: var(--bg-primary-color);
  font-family: var(--main-font);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: inherit;
}

address {
  font-style: inherit;
}

.list {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

/* base end */
