:root {
  /* Colors */
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #2f303a;
  --bg-third-color: #2196f3;
  --bg-features-color: #f5f5f5;
  --bg-fourth-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --headers-text-color: #212121;
  --logo-main-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --hover-focus-color: #2196f3;
  --button-active-color: #188ce8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --svg-icon-color: #afb1b8;

  /* Flex */
  --indent: 30px;
  --items: 3;

  /* fonts */
  --main-font: 'Roboto', sans-serif;
}
